* {
  font-family: "Roboto";
  font-style: normal;
}
.main-container {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #112f2d;
  opacity: 90%;
}

.title {
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  padding: 20px 0px;
}
.cross-img {
  margin-right: 25px;
  float: right;
}
.theme-container {
  padding: 10px 0px;
}
.learn-more-btn {
  cursor: pointer;
  border: none;
  background: transparent;
  color: #ffffff;
}
.para-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.02em;
  margin-top: 20px;
}
.label {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
}

.tick-img {
  float: right;
  margin-right: 3px;
}
.lock-img {
  float: right;
  margin-right: 5px;
}

.theme-card-heavenlyEssense {
  background: linear-gradient(
    83.09deg,
    rgba(7, 142, 161, 0.85) 30.69%,
    rgba(119, 240, 223, 0.85) 83.49%
  );
  color: #ffffff;
  padding: 15px 10px 10px 20px;
  align-content: center;
  width: 339.58px;
  height: 89.68px;
  left: 50%;
  transform: translateX(8%);
  top: 3940.74px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;

  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  align-items: center;
  letter-spacing: 0.02em;
}

.theme-card-greeExpedition {
  background: linear-gradient(
    83.09deg,
    rgba(13, 158, 127, 0.85) 30.69%,
    rgba(91, 241, 177, 0.85) 83.49%
  );

  color: #ffffff;
  padding: 15px 10px 10px 20px;
  align-content: center;
  width: 339.58px;
  height: 89.68px;
  left: 50%;
  transform: translateX(8%);
  top: 3940.74px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;

  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  align-items: center;
  letter-spacing: 0.02em;
}
.theme-card-magicWoodland {
  background: linear-gradient(
    83.09deg,
    rgba(233, 103, 98, 0.85) 30.69%,
    rgba(252, 186, 151, 0.85) 83.49%
  );

  color: #ffffff;
  padding: 15px 10px 10px 20px;
  align-content: center;
  width: 339.58px;
  height: 89.68px;
  left: 50%;
  transform: translateX(8%);
  top: 3940.74px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;

  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  align-items: center;
  letter-spacing: 0.02em;
}
.theme-card-coreHarmony {
  background: linear-gradient(
    83.09deg,
    rgba(221, 66, 100, 0.85) 30.69%,
    rgba(251, 146, 158, 0.85) 83.49%
  );

  color: #ffffff;
  padding: 15px 10px 10px 20px;
  align-content: center;
  width: 339.58px;
  height: 89.68px;
  left: 50%;
  transform: translateX(8%);
  top: 3940.74px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;

  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  align-items: center;
  letter-spacing: 0.02em;
}
.theme-card-findYourBliss {
  background: linear-gradient(
    83.09deg,
    rgba(254, 138, 77, 0.85) 30.69%,
    rgba(255, 207, 122, 0.85) 83.49%
  );

  color: #ffffff;
  padding: 15px 10px 10px 20px;
  align-content: center;
  width: 339.58px;
  height: 89.68px;
  left: 50%;
  transform: translateX(8%);
  top: 3940.74px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;

  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  align-items: center;
  letter-spacing: 0.02em;
}
.theme-card-aprilShowers {
  background: linear-gradient(
    83.09deg,
    rgba(55, 74, 205, 0.85) 30.69%,
    rgba(132, 147, 248, 0.85) 83.49%
  );

  color: #ffffff;
  padding: 15px 10px 10px 20px;
  align-content: center;
  width: 339.58px;
  height: 89.68px;
  left: 50%;
  transform: translateX(8%);
  top: 3940.74px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;

  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  align-items: center;
  letter-spacing: 0.02em;
}
.theme-card-joyfulMoments {
  background: linear-gradient(
    83.09deg,
    rgba(241, 178, 72, 0.85) 30.69%,
    rgba(250, 223, 118, 0.85) 83.49%
  );

  color: #ffffff;
  padding: 15px 10px 10px 20px;
  margin-bottom: 12px;
  align-content: center;
  width: 339.58px;
  height: 89.68px;
  left: 50%;
  transform: translateX(8%);
  top: 3940.74px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;

  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  align-items: center;
  letter-spacing: 0.02em;

  /* color: #ffffff;
  padding: 10px;
  align-content: center;
  width: 85%;
  height: 89.68px;
  border-radius: 15px;
  left: 50%;
  transform: translateX(9%);
  top: 3940.74px;
  margin-bottom: 20px; */
}
