.main-container {
  background: #112f2d;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  /* background: rgba(17, 47, 45, 0.9); */
}

/* How To Convert Hex Color To Decimal=>

Red: #11 in hex is 17 in decimal.
Green: #2f in hex is 47 in decimal.
Blue: #2d in hex is 45 in decimal.
Alpha: The opacity 0.9 directly translates to the alpha value in rgba. */

.title {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;
  padding: 3dvh 0dvh;
  width: 90dvw;
}
.cross-img {
  margin-right: 25px;
  float: right;
}
.theme-container {
  padding: 10px 0px;
}
.learn-more-btn {
  cursor: pointer;
  border: none;
  background: transparent;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.02em;
  margin-top: 20px;
}

.label {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.02em;
  /* text-align: left; */
}

.tick-img {
  margin-top: 1.5dvh;
}
.lock-img {
  margin-top: 1.5dvh;
}

.theme-card {
  color: #ffffff;
  width: 90dvw;
  /* height: 12dvh; */
  padding: 3dvh 4.5dvw;
  align-content: center;
  border-radius: 22px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.02em;
  /* display: flex;
  justify-content: space-between; */
}

.theme-card-details {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.theme-card-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.theme-card-heavenlyEssense {
  background: linear-gradient(
    83.09deg,
    rgba(7, 142, 161, 0.85) 30.69%,
    rgba(119, 240, 223, 0.85) 83.49%
  );
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.theme-card-greenExpedition {
  background: linear-gradient(
    83.09deg,
    rgba(13, 158, 127, 0.85) 30.69%,
    rgba(91, 241, 177, 0.85) 83.49%
  );
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.theme-card-magicWoodland {
  background: linear-gradient(
    83.09deg,
    rgba(233, 103, 98, 0.85) 30.69%,
    rgba(252, 186, 151, 0.85) 83.49%
  );
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.theme-card-coreHarmony {
  background: linear-gradient(
    83.09deg,
    rgba(221, 66, 100, 0.85) 30.69%,
    rgba(251, 146, 158, 0.85) 83.49%
  );
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.theme-card-findYourBliss {
  background: linear-gradient(
    83.09deg,
    rgba(254, 138, 77, 0.85) 30.69%,
    rgba(255, 207, 122, 0.85) 83.49%
  );
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.theme-card-aprilShowers {
  background: linear-gradient(
    83.09deg,
    rgba(55, 74, 205, 0.85) 30.69%,
    rgba(132, 147, 248, 0.85) 83.49%
  );
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.theme-card-joyfulMoments {
  background: linear-gradient(
    83.09deg,
    rgba(241, 178, 72, 0.85) 30.69%,
    rgba(250, 223, 118, 0.85) 83.49%
  );
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
