.theme-description-container {
  min-height: 100dvh;
  color: #fff;
  padding: 6dvh 5.4dvw;
  display: flex;
  flex-direction: column;
  gap: 4.5dvh;
  overflow-x: hidden;
}

.main-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.02em;
  margin-left: 1.5dvw;
}

.theme-description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 15px;
  letter-spacing: 0.02em;
  margin-left: 1.5dvw;
}

.best-for-div {
  margin-left: 1.5dvw;
  margin-top: 4.5dvh;
}

.best-for {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.02em;
}

.best-for-btn-one {
  height: 5dvh;
  border: none;
  border-radius: 25px;
  display: block;
  margin: 1.8dvh 0dvh;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 1.8dvh 1.8dvw;
}

.listen-with {
  margin: 20px;
  margin-left: 30px;
  position: absolute;
  bottom: 40px;
  left: 0;
}
.listen-with-title {
  margin: 10px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-left: 0px;
}
.listen-with-para {
  font-size: 15px;
  font-weight: 250;
  line-height: 15px;
  letter-spacing: 0.02em;
}

.bg-heavenlyEssense {
  background: linear-gradient(28.14deg, #078ea1 20.23%, #77f0df 79.09%);
}
.btn-heavenlyEssense {
  background: #72cecd;
}

.bg-greenExpedition {
  background: linear-gradient(28.14deg, #0d9e7f 21.23%, #5bf1b1 80.09%);
}
.btn-greenExpedition {
  background: rgba(91, 241, 177, 0.85) 83.49%;
}

.bg-magicWoodland {
  background: linear-gradient(28.14deg, #e96762 21.23%, #fcba97 80.35%);
}
.btn-magicWoodland {
  background: rgba(252, 186, 151, 0.85) 83.49%;
}

.bg-coreHarmony {
  background: linear-gradient(28.14deg, #dd4264 21.23%, #fb929e 80.35%);
}
.btn-coreHarmony {
  background: rgba(251, 146, 158, 0.85) 83.49%;
}

.bg-findYourBliss {
  background: linear-gradient(28.14deg, #fe8a4d 21.23%, #ffcf7a 80.35%);
}
.btn-findYourBliss {
  background: rgba(255, 207, 122, 0.85) 83.49%;
}

.bg-aprilShowers {
  background: linear-gradient(28.14deg, #374acd 21.23%, #8493f8 80.35%);
}
.btn-aprilShowers {
  background: rgba(132, 147, 248, 0.85) 83.49%;
}

.bg-joyfulMoments {
  background: linear-gradient(28.14deg, #f1b248 21.23%, #fadf76 80.35%);
}
.btn-joyfulMoments {
  background: rgba(242, 214, 103, 0.85) 83.49%;
}
