* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.Theme-container {
  width: 389.69px;
  height: 844px;
}
.goback-img {
  margin: 20px;
}
.main-title {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: left;

  margin: 20px;
  margin-top: 12px;
}
.title-content {
  margin: 20px;
  margin-top: 40px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 250;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-align: left;
}
.best-for-div {
  margin-top: 15%;
}
.best-for {
  margin: 20px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-align: left;
}
.best-for-btn-one {
  height: 31px;
  top: 4194px;
  left: -709px;
  gap: 0px;
  opacity: 0px;
  background: #72cecd;
  border: none;
  border-radius: 15px;

  display: block;
  margin: 15px;
  font-family: Roboto;
  font-size: 14px;
  /* font-weight: 700; */
  line-height: 14px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  padding: 10px;
}

.listen-with {
  margin: 20px;
  margin-left: 30px;
  position: absolute;
  bottom: 40px;
  left: 0;
}
.listen-with-title {
  margin: 10px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-left: 0px;
}
.listen-with-para {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 250;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-align: left;
}

.label-container-1 {
  background: linear-gradient(28.14deg, #078ea1 20.23%, #77f0df 79.09%);
  padding-top: 50px;
  height: 100vh;
  position: relative;
  color: #fff;

  padding-left: 12px;
}
.btn-1 {
  background: #72cecd;
}

.label-container-2 {
  background: linear-gradient(28.14deg, #0d9e7f 21.23%, #5bf1b1 80.09%);
  padding-top: 50px;
  height: 100vh;
  position: relative;
  color: #fff;

  padding-left: 12px;
}
.btn-2 {
  background: rgba(91, 241, 177, 0.85) 83.49%;
}

.label-container-3 {
  background: linear-gradient(28.14deg, #e96762 21.23%, #fcba97 80.35%);
  padding-top: 50px;
  height: 100vh;
  position: relative;
  color: #fff;

  padding-left: 12px;
}
.btn-3 {
  background: rgba(252, 186, 151, 0.85) 83.49%;
}

.label-container-4 {
  background: linear-gradient(28.14deg, #dd4264 21.23%, #fb929e 80.35%);

  padding-top: 50px;
  height: 100vh;
  position: relative;
  color: #fff;

  padding-left: 12px;
}
.btn-4 {
  background: rgba(251, 146, 158, 0.85) 83.49%;
}
.label-container-5 {
  /* background: linear-gradient(
    83.09deg,
    rgba(254, 138, 77, 0.85) 30.69%,
    rgba(255, 207, 122, 0.85) 83.49%
  ); */

  background: linear-gradient(28.14deg, #fe8a4d 21.23%, #ffcf7a 80.35%);

  padding-top: 50px;
  height: 100vh;
  position: relative;
  color: #fff;

  padding-left: 12px;
}
.btn-5 {
  background: rgba(255, 207, 122, 0.85) 83.49%;
}
.label-container-6 {
  /* background: linear-gradient(
    83.09deg,
    rgba(55, 74, 205, 0.85) 30.69%,
    rgba(132, 147, 248, 0.85) 83.49%
  ); */
  background: linear-gradient(28.14deg, #374acd 21.23%, #8493f8 80.35%);
  padding-top: 50px;
  height: 100vh;
  position: relative;
  color: #fff;

  padding-left: 12px;
}
.btn-6 {
  background: rgba(132, 147, 248, 0.85) 83.49%;
}
.label-container-7 {
  /* background: linear-gradient(
    83.09deg,
    rgba(241, 178, 72, 0.85) 30.69%,
    rgba(250, 223, 118, 0.85) 83.49%
  ); */
  background: linear-gradient(28.14deg, #f1b248 21.23%, #fadf76 80.35%);
  padding-top: 50px;
  height: 100vh;
  position: relative;
  color: #fff;

  padding-left: 12px;
}
.btn-7 {
  background: rgba(242, 214, 103, 0.85) 83.49%;
}
